.bgAuthRecruiter,
.bgAuthWorker {
  background-color: #f6f7f8;
}

@media screen and (max-width: 1023px) {
  .bgAuthWorker {
    background-color: #5e50a1;
    background-image: linear-gradient(
        rgba(94, 80, 161, 0.8),
        rgba(94, 80, 161, 0.8)
      ),
      url(../../assets/img/login-img.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
}
